<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-primary">
  <i class="fa fa-bus navbar-brand"></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to "Post",posts_new_path,class: "nav-link"%>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%if user_signed_in?%>

          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <%else%>
          <div class="dropdown-divider"></div>
          <%= link_to "Sign up",new_user_registration_path,class: "dropdown-item"%> 
          <%= link_to "Sign in",new_user_session_path,class: "dropdown-item"%>
          <%end%>
        </div>
      </li>
      <li class="nav-item">
        <%if user_signed_in?%>
      <li class="nav-item">
        <%= link_to "edit",edit_user_registration_path,class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "sign out",destroy_user_session_path,method: :delete,class: "nav-link"%>
      </li>
      <%else%>
      <li class="nav-item">
        <%= link_to "sign up",new_user_registration_path,class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "sign in",new_user_session_path,class: "nav-link"%>
      </li>
      <%end%>
      </li>
    </ul>
  </div>
</nav>