<form action="" method="POST">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
	<input type="hidden" name="bulk_action" value="<%= request.params['bulk_action'] %>" />
	<input type="hidden" name="bulk_step" value="update" />
	<% request.params['bulk_ids'].each do |bulk_id| %>
		<input type="hidden" name="bulk_ids[]" value="<%= bulk_id %>" />
	<% end %>

	

	<h3>Values to be updated:</h3>
	<table>
		<tr>
			<th align="center">id</th>
			<th align="center">post</th>
			<th align="center">Date</th>
		</tr>
		<% @bulk_values.each do |user| %>
			<tr>
					<td><%= user.id %></td>
					<td><%= user.created_at.to_s %></td>
			</tr>
		<% end %>
	</table>
	<br /><br />
		<input type="text" value="post" name="update_value" id="update_value" />

	<input type="submit" value="Update values" />
</form>
<style type="text/css">
	th, td{
		padding: 5px;
	}
</style>