<div class="container">
<div class="card" style="width: 24rem;">
  <div class="card-body">
    <h5 class="card-title">Sign up</h5>
    <p class="card-text">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <div class="field form-group">
          <%= f.text_field :first_name,class:"form-control",placeholder:"first name"%>
        </div>

        <div class="field form-group">
          <%= f.text_field :last_name,class:"form-control",placeholder:"last name"%>
        </div>


        <div class="field form-group">
          <% f.label :email %><br />
          <%= f.email_field :email,class:"form-control",placeholder:"Email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field form-group">
          <% f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class:"form-control",placeholder:"Password" %>
        </div>

        <div class="field form-group">
          <% f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control",placeholder:"Confirm password" %>
        </div>

        <div class="field form-group">
          <%= f.text_field :phone_number,class:"form-control",placeholder:"Phone number"%>
        </div>

        <div class="field form-group">
          <%= f.text_field :user_name,class:"form-control",placeholder:"Username"%>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>

    </p>
  </div>
</div>
</div>

